<!DOCTYPE html>
<html>
<head>
    <title>IPs Table</title>
    <link rel="stylesheet" href="static/css/styleips.css" />
</head>
<body>
    <div class="card-container">
        <h1>IPs Table</h1>
        <table>
            <thead>
                <tr>
                    <th>IP</th>
                    <th>Port</th>
                    <th>Vulnerabilities</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Domains</th>
                    <th>Hostnames</th>
                </tr>
            </thead>
            <tbody>
                {% for ip_data in ips %}
                <tr>
                    <td>{{ ip_data.ip_str }}</td>
                    <td>{{ ip_data.port }}</td>
                    <td>{{ ip_data.vulns }}</td>
                    <td>{{ ip_data.country_name }}</td>
                    <td>{{ ip_data.city }}</td>
                    <td>{{ ip_data.domains }}</td>
                    <td>{{ ip_data.hostnames }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>